html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 30px;

    font-family: "VT323", monospace;
}

#app-container {
    display: flex;
    flex-direction: column;
}

#main-app {
    width: 640px;
    height: 640px;

    display: grid;
}

#canvas-container {
    background-color: black;

    grid-row: 1;
    grid-column: 1;
    /* border: 2px solid white; */
}

#header-ui {
    margin-bottom: 5px;

    display: grid;

    grid-template-columns: 50% 50%;
}

.flex-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}